In [15]:
import pandas as pd

###  CSV comma Seprated Value

In [16]:
#df1=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]],columns=['Name','Roll No.','Marks'],index=['R1','R2','R3'])
df1=pd.DataFrame([['A',1,100],['B',2,200],['C',3,300],['D',4,400],['E',5,500],['F',6,600],['G',7,100],['H',8,200],['I',9,900],['J',10,1000],['E',11,1100],['F',12,1200]],columns=['Name','Roll_No','Marks'])
df1.to_csv('_dataset/Pandas.csv',index=False)
df1=pd.read_csv('_dataset/Pandas.csv',index_col ="Roll_No",)
df1

        Name  Marks
Roll_No
1          A    100
2          B    200
3          C    300
4          D    400
5          E    500
6          F    600
7          G    100
8          H    200
9          I    900
10         J   1000
11         E   1100
12         F   1200

### XML

In [17]:
#pip install lxml
df1=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]],columns=['Name','Roll No.','Marks'],index=['R1','R2','R3'])
df1.to_html('_dataset/Pandas.xml')
df1=pd.read_html('_dataset/Pandas.xml')
df1

[  Unnamed: 0 Name  Roll No.  Marks
 0         R1    a         1    500
 1         R2    b         2    600
 2         R3    c         3    700]

### Json

In [18]:
df1=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]],columns=['Name','Roll No.','Marks'],index=['R1','R2','R3'])
df1.to_json('_dataset/Pandas.json')
df1=pd.read_json('_dataset/Pandas.json')
df1

   Name  Roll No.  Marks
R1    a         1    500
R2    b         2    600
R3    c         3    700

### Excel

In [19]:
#pip install openpyxl
from pandas import ExcelWriter
from pandas import ExcelFile
df1=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]],columns=['Name','Roll No.','Marks'],index=['R1','R2','R3'])
df2=pd.DataFrame([['d',1,500],['e',2,600],['f',3,700]],columns=['Name','Roll No.','Marks'],index=['R4','R5','R6'])


writer = ExcelWriter('_dataset/Pandas.xlsx')
df1.to_excel(writer,'Sheet1',index=False)
df2.to_excel(writer,'Sheet2',index=False)
writer.save()
pd.read_excel('_dataset/Pandas.xlsx')

  Name  Roll No.  Marks
0    a         1    500
1    b         2    600
2    c         3    700

In [20]:
pd.read_excel('_dataset/Pandas.xlsx', sheetname='Sheet1')

TypeError: read_excel() got an unexpected keyword argument 'sheetname'

In [13]:
pd.read_excel('_dataset/Pandas.xlsx', sheetname='Sheet2')

TypeError: read_excel() got an unexpected keyword argument 'sheetname'