In [ ]:
import pandas as pd

## Load csv in DB

In [ ]:
df=pd.read_csv('B:/dataset/tips.csv')
df.head()

In [ ]:
from sqlalchemy import create_engine
eng=create_engine('mysql+pymysql://root:root@localhost/8to10',echo=False)
df.to_sql('tips',con=eng)

## CSV import from DB

In [35]:
import pymysql as sql
con=sql.connect(host='localhost',user='root',password='root',port=3306,database='8to10')

In [38]:
df=pd.read_sql('select * from tips',con)
df.to_csv('students.csv')
df=pd.read_csv('students.csv')
df.head()

   Unnamed: 0  index  total_bill   tip  gender smoker  day    time  size
0           0      0       16.99  1.01  Female     No  Sun  Dinner     2
1           1      1       10.34  1.66    Male     No  Sun  Dinner     3
2           2      2       21.01  3.50    Male     No  Sun  Dinner     3
3           3      3       23.68  3.31    Male     No  Sun  Dinner     2
4           4      4       24.59  3.61  Female     No  Sun  Dinner     4

## Db Querry

In [ ]:
hostname ="localhost"                 #'http://127.0.0.1:3600/'            
username = 'root'
password = 'root'
database = '8to10'
# Connection
def Using_pymysql():
        import pymysql
        myConnection = pymysql.connect( host=hostname, user=username, passwd=password, db=database )
        doQuery( myConnection )
        myConnection.close() 
        
def drop_tb(sql):
        querry = "DROP TABLE tips"
        sql.execute(querry)
        for tb in sql:
                print(tb)        

def direct_querry(sql):
        querry = str(input("Enter Sql Querry: "))
        print(sql.execute(querry))
        for db in sql:
                print(db)        

def doQuery(myConnection):  # main Querry point
        sql = myConnection.cursor()
        drop_tb(sql)
Using_pymysql()