<a href="https://colab.research.google.com/github/ScriptShef/Python-AI_ML_DL/blob/master/Colaboratory/GithubFileRead.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
https://raw.githubusercontent.com/ScriptShef/Dataset/main/ml-dataset/movies.csv
https://github.com/ScriptShef/Dataset/blob/main/ml-dataset/movies.csv

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/ScriptShef/Dataset/main/ml-dataset/movies.csv')
df.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]