In [1]:


import pandas as pd

# Series

In [2]:
#class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
s = pd.Series([1, 3, 5, 6, 8])
s

0    1
1    3
2    5
3    6
4    8
dtype: int64

# Date_range

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

# Dataframe

In [4]:
df=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]])
df
[['a',1,500],['b',2,600],['c',3,700]]

[['a', 1, 500], ['b', 2, 600], ['c', 3, 700]]

In [5]:
df=pd.DataFrame({'name':['p','q','r'],'id':[1,2,3]},index=['r1','r2','r3'])
df

   name  id
r1    p   1
r2    q   2
r3    r   3

In [6]:
df=pd.DataFrame([['A',1,500],['B',2,600],['C',3,700]],columns=['Name','Roll_No','Marks'],index=['1','2','3'])
df

  Name  Roll_No  Marks
1    A        1    500
2    B        2    600
3    C        3    700

In [7]:
df=pd.read_csv('Pandas.csv',index_col ="Roll_No")
df.head()

        Name  Marks
Roll_No
1          A    100
2          B    200
3          C    300
4          D    400
5          E    500

# Dataframe Querry

In [8]:
df=pd.read_csv('Pandas.csv')

In [9]:
df.columns

Index(['Name', 'Roll_No', 'Marks'], dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=12, step=1)

In [11]:
df.T

          0    1    2    3    4    5    6    7    8     9     10    11
Name       A    B    C    D    E    F    G    H    I     J     E     F
Roll_No    1    2    3    4    5    6    7    8    9    10    11    12
Marks    100  200  300  400  500  600  100  200  900  1000  1100  1200

In [12]:
df.shape

(12, 3)

In [13]:
df.to_numpy()

array([['A', 1, 100],
       ['B', 2, 200],
       ['C', 3, 300],
       ['D', 4, 400],
       ['E', 5, 500],
       ['F', 6, 600],
       ['G', 7, 100],
       ['H', 8, 200],
       ['I', 9, 900],
       ['J', 10, 1000],
       ['E', 11, 1100],
       ['F', 12, 1200]], dtype=object)

In [14]:
df.describe()

         Roll_No        Marks
count  12.000000    12.000000
mean    6.500000   550.000000
std     3.605551   403.394686
min     1.000000   100.000000
25%     3.750000   200.000000
50%     6.500000   450.000000
75%     9.250000   925.000000
max    12.000000  1200.000000

In [15]:
df.head(3)

  Name  Roll_No  Marks
0    A        1    100
1    B        2    200
2    C        3    300

In [16]:
df.tail(3)

   Name  Roll_No  Marks
9     J       10   1000
10    E       11   1100
11    F       12   1200

In [17]:
print(len(df.Name))
print(len(df.Name.unique()))
df.Name.unique()

12
10

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype=object)

### DataFrame Indexing

In [18]:
df=pd.DataFrame([['A',1,100],['B',2,200],['C',3,300],['D',4,400],['E',5,500],['F',6,600],['G',7,100],['H',8,200],['I',9,900],['J',10,1000],['E',11,1100],['F',12,1200]],columns=['Name','Roll_No','Marks'])
df

   Name  Roll_No  Marks
0     A        1    100
1     B        2    200
2     C        3    300
3     D        4    400
4     E        5    500
5     F        6    600
6     G        7    100
7     H        8    200
8     I        9    900
9     J       10   1000
10    E       11   1100
11    F       12   1200

In [19]:
s=df['Name']
s.head()        #type(s) pandas.core.series.Series

0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object

In [20]:
a=df[[ 'Roll_No','Name']]
a.head()     # type(a) pandas.core.frame.DataFrame

   Roll_No Name
0        1    A
1        2    B
2        3    C
3        4    D
4        5    E

# df.Object

In [21]:
a=df.Roll_No
a.head()

0    1
1    2
2    3
3    4
4    5
Name: Roll_No, dtype: int64

In [22]:
a=df.Name[df.Name=='a']
a.head()

Series([], Name: Name, dtype: object)

### df.loc[]

In [23]:
a=df.loc[5:]
a.head()

  Name  Roll_No  Marks
5    F        6    600
6    G        7    100
7    H        8    200
8    I        9    900
9    J       10   1000

In [26]:
#df.loc[:,'PassengerId']
#df.loc[:,['PassengerId','Age','gender']]
#a=df.loc[:,'Name':'F']
#a.head()

### df.iloc[]

In [27]:
df.iloc[:,1:]

    Roll_No  Marks
0         1    100
1         2    200
2         3    300
3         4    400
4         5    500
5         6    600
6         7    100
7         8    200
8         9    900
9        10   1000
10       11   1100
11       12   1200

In [28]:
df.iloc[:,0]

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    E
11    F
Name: Name, dtype: object

### Selection(Operation)

In [29]:
df.Survived.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Survived'

In [30]:
a=df[df.Survived==1]
#a.head()

AttributeError: 'DataFrame' object has no attribute 'Survived'

In [31]:
a=df[(df.Survived==1)& (df.gender=='male')]
#a.head()

AttributeError: 'DataFrame' object has no attribute 'Survived'

In [32]:
a=df[(df.Survived==1)& (df.gender=='female')]
#a.head()

AttributeError: 'DataFrame' object has no attribute 'Survived'

In [33]:
a=df[df.Age<10]
#a.head()

AttributeError: 'DataFrame' object has no attribute 'Age'

In [34]:
a=df[df.Age.isin(range(1,20))]
#a.head()

AttributeError: 'DataFrame' object has no attribute 'Age'

### Opperation Apply on Data Series

In [35]:
names=df.Name
size=[]
for n in names:
    size.append(len(n))

In [36]:
size=df.Name.apply(len)

In [37]:
size=df.Name.map(len)
#size=df.Name.map(len,df.Name)

### Drop, Insert,  Pop, Rename ->(Series Data)

In [38]:
df=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]],columns=['name','roll','marks'],index=['r1','r2','r3'])
df

   name  roll  marks
r1    a     1    500
r2    b     2    600
r3    c     3    700

In [39]:
df.drop('marks',axis=1,inplace=True)

In [40]:
df

   name  roll
r1    a     1
r2    b     2
r3    c     3

In [41]:
df.insert(0,'marks',[1,2,3])
df

    marks name  roll
r1      1    a     1
r2      2    b     2
r3      3    c     3

In [ ]:
marks=df.pop('marks')

In [ ]:
df

In [ ]:
marks

In [ ]:
df.rename({'roll':'Roll No.','name':'Name'},axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.rename({'r1':'1','r2':'2','r3':'3'},axis=0,inplace=True)

In [ ]:
df

### Mearge Two Table

In [ ]:
df1=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]],columns=['name','roll','marks'],index=['r1','r2','r3'])
df1

In [ ]:
df2=pd.DataFrame([['d',1,500],['e',2,600],['f',3,700]],columns=['name','roll','marks'],index=['r4','r5','r5'])
df2

In [ ]:
df1.append(df2)

In [ ]:
df1.append(df2,ignore_index=True)

In [ ]:
df1=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]],columns=['name','roll','marks'],index=['r1','r2','r3'])
df1
df2=pd.DataFrame([['a',1,500],['b',2,600],['c',3,700]],columns=['name','roll2','marks2'],index=['r1','r2','r3'])
df2

In [ ]:
result = pd.merge(df1,
                 df2[['name','roll2','marks2']],
                 on='name')
result.head()

# “left”, “right”, “inner” (default), or “outer”.
![](Join.png)

In [ ]:
df3=pd.merge(df1,df2[['name','roll2','marks2']],on='name',how='left',indicator=True)
df3

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])
 

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])
frames = [df1, df2, df3]
result = pd.concat(frames)
result

- objs : a sequence or mapping of Series or DataFrame objects. If a dict is passed, the sorted keys will be used as the keys argument, unless it is passed, in which case the values will be selected (see below). Any None objects will be dropped silently unless they are all None in which case a ValueError will be raised.
- axis : {0, 1, …}, default 0. The axis to concatenate along.
- join : {‘inner’, ‘outer’}, default ‘outer’. How to handle indexes on other axis(es). Outer for union and inner for intersection.
- ignore_index : boolean, default False. If True, do not use the index values on the concatenation axis. The resulting axis will be labeled 0, …, n - 1. This is useful if you are concatenating objects where the concatenation axis does not have meaningful indexing information. Note the index values on the other axes are still respected in the join.
- keys : sequence, default None. Construct hierarchical index using the passed keys as the outermost level. If multiple levels passed, should contain tuples.
- levels : list of sequences, default None. Specific levels (unique values) to use for constructing a MultiIndex. Otherwise they will be inferred from the keys.
- names : list, default None. Names for the levels in the resulting hierarchical index.
- verify_integrity : boolean, default False. Check whether the new concatenated axis contains duplicates. This can be very expensive relative to the actual data concatenation.
- copy : boolean, default True. If False, do not copy data unnecessarily.

In [ ]:
result = pd.concat(frames, keys=['x', 'y', 'z'])
result

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])
 
df2 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                   'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                index=[2, 3, 6, 7])
result = pd.concat([df1, df2], axis=1, sort=False)
result

In [ ]:
result = pd.concat([df1, df4], axis=1, join='inner')