In [6]:
import pandas as pd
df=pd.read_csv('_Dataset/tips.csv')
print(df.index)
df.head()
df.describe()

RangeIndex(start=0, stop=244, step=1)

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [2]:
df.groupby('day').total_bill.describe()

      count       mean       std   min      25%    50%      75%    max
day
Fri    19.0  17.151579  8.302660  5.75  12.0950  15.38  21.7500  40.17
Sat    87.0  20.441379  9.480419  3.07  13.9050  18.24  24.7400  50.81
Sun    76.0  21.410000  8.832122  7.25  14.9875  19.63  25.5975  48.17
Thur   62.0  17.682742  7.886170  7.51  12.4425  16.20  20.1550  43.11

In [3]:
df.groupby('day').total_bill.min() #count,mean,std,min,max

day
Fri     5.75
Sat     3.07
Sun     7.25
Thur    7.51
Name: total_bill, dtype: float64

In [4]:
df.groupby('day').agg(['min','max','mean','sum'])

     total_bill                              tip                           \
            min    max       mean      sum   min    max      mean     sum
day
Fri        5.75  40.17  17.151579   325.88  1.00   4.73  2.734737   51.96
Sat        3.07  50.81  20.441379  1778.40  1.00  10.00  2.993103  260.40
Sun        7.25  48.17  21.410000  1627.16  1.01   6.50  3.255132  247.39
Thur       7.51  43.11  17.682742  1096.33  1.25   6.70  2.771452  171.83

     size
      min max      mean  sum
day
Fri     1   4  2.105263   40
Sat     1   5  2.517241  219
Sun     2   6  2.842105  216
Thur    1   6  2.451613  152

In [5]:
df.drop_duplicates().head()

   total_bill   tip  gender smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df.groupby('day').unique()

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

In [11]:
label = ['Male','Female']
no_movies = [941,854,4595,2125,942,509,548,149,1952,161,64,61,35,5]
index = np.array(['male','female'])
plt.bar(index, no_movies)
plt.xlabel('Genre', fontsize=5)
plt.ylabel('No of Movies', fontsize=5)
plt.xticks(index, label, fontsize=5, rotation=30)
plt.title('Market Share for Each Genre 1995-2017')
plt.show()

NameError: name 'np' is not defined

In [12]:
print("<h1>hello<h1>")

<h1>hello<h1>