In [1]:
import numpy as np
import pandas as pd

In [3]:
from sktime import forecasting as FC

In [9]:
path="../_dataset/PowerConsumtion/household_power_consumption-1.csv"
y = pd.read_csv(path)
y.head()

,date,time,global_active_power,global_reactive_power,voltage,global_intensity,sub_metering_1,sub_metering_2,sub_metering_3
0,2007-01-01,00:00:00,2.580,0.136,241.97,10.6,0.0,0.0,0.0
1,2007-01-01,00:01:00,2.552,0.100,241.75,10.4,0.0,0.0,0.0
2,2007-01-01,00:02:00,2.550,0.100,241.64,10.4,0.0,0.0,0.0
3,2007-01-01,00:03:00,2.550,0.100,241.71,10.4,0.0,0.0,0.0
4,2007-01-01,00:04:00,2.554,0.100,241.98,10.4,0.0,0.0,0.0

In [5]:
y = pd.read_csv(path, index_col=0, squeeze=True, dtype={1: np.float})

ValueError: could not convert string to float: '00:00:00'