In [ ]:
# pip install sktime pmdarima

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
path="../_dataset/IndiaPowerConsumtion/long_data_.csv"
raw = pd.read_csv(path)
raw

          States Regions   latitude  longitude                Dates  Usage
0         Punjab      NR  31.519974  75.980003  02/01/2019 00:00:00  119.9
1        Haryana      NR  28.450006  77.019991  02/01/2019 00:00:00  130.3
2      Rajasthan      NR  26.449999  74.639981  02/01/2019 00:00:00  234.1
3          Delhi      NR  28.669993  77.230004  02/01/2019 00:00:00   85.8
4             UP      NR  27.599981  78.050006  02/01/2019 00:00:00  313.9
...          ...     ...        ...        ...                  ...    ...
16594    Manipur     NER  24.799971  93.950017  05/12/2020 00:00:00    2.5
16595  Meghalaya     NER  25.570492  91.880014  05/12/2020 00:00:00    5.8
16596    Mizoram     NER  23.710399  92.720015  05/12/2020 00:00:00    1.6
16597   Nagaland     NER  25.666998  94.116570  05/12/2020 00:00:00    2.1
16598    Tripura     NER  23.835404  91.279999  05/12/2020 00:00:00    3.3

[16599 rows x 6 columns]

In [18]:
set(raw.States)

{'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'DNH',
 'Delhi',
 'Goa',
 'Gujarat',
 'HP',
 'Haryana',
 'J&K',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'MP',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Pondy',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'UP',
 'Uttarakhand',
 'West Bengal'}

In [21]:
raw[raw.States=="UP"]

      States Regions   latitude  longitude                Dates  Usage
4         UP      NR  27.599981  78.050006  02/01/2019 00:00:00  313.9
37        UP      NR  27.599981  78.050006  03/01/2019 00:00:00  311.8
70        UP      NR  27.599981  78.050006  04/01/2019 00:00:00  320.7
103       UP      NR  27.599981  78.050006  05/01/2019 00:00:00  299.0
136       UP      NR  27.599981  78.050006  06/01/2019 00:00:00  286.8
...      ...     ...        ...        ...                  ...    ...
16438     UP      NR  27.599981  78.050006  01/12/2020 00:00:00  322.8
16471     UP      NR  27.599981  78.050006  02/12/2020 00:00:00  331.4
16504     UP      NR  27.599981  78.050006  03/12/2020 00:00:00  336.7
16537     UP      NR  27.599981  78.050006  04/12/2020 00:00:00  334.6
16570     UP      NR  27.599981  78.050006  05/12/2020 00:00:00  287.3

[503 rows x 6 columns]

In [65]:
df2=raw[['Dates','Usage']]
df2.to_csv('temp/UP_power.csv', index = False)
df2.drop_duplicates(subset=['brand'])

KeyError: Index(['brand'], dtype='object')

In [62]:
df.duplicated(subset=['Dates'])

AttributeError: 'DataFrameGroupBy' object has no attribute 'duplicated'

In [57]:
df.dates=pd.to_datetime(df2.Dates)
df[df.dates==a]

AttributeError: 'DataFrameGroupBy' object has no attribute 'duplicated'

In [48]:
set(df.dates)

{Timestamp('2019-01-07 00:00:00'),
 Timestamp('2019-01-08 00:00:00'),
 Timestamp('2019-01-09 00:00:00'),
 Timestamp('2019-01-10 00:00:00'),
 Timestamp('2019-01-11 00:00:00'),
 Timestamp('2019-01-12 00:00:00'),
 Timestamp('2019-01-13 00:00:00'),
 Timestamp('2019-01-14 00:00:00'),
 Timestamp('2019-01-15 00:00:00'),
 Timestamp('2019-01-16 00:00:00'),
 Timestamp('2019-01-17 00:00:00'),
 Timestamp('2019-01-18 00:00:00'),
 Timestamp('2019-01-19 00:00:00'),
 Timestamp('2019-01-20 00:00:00'),
 Timestamp('2019-01-21 00:00:00'),
 Timestamp('2019-01-22 00:00:00'),
 Timestamp('2019-01-23 00:00:00'),
 Timestamp('2019-01-24 00:00:00'),
 Timestamp('2019-01-25 00:00:00'),
 Timestamp('2019-01-26 00:00:00'),
 Timestamp('2019-01-27 00:00:00'),
 Timestamp('2019-01-28 00:00:00'),
 Timestamp('2019-01-29 00:00:00'),
 Timestamp('2019-01-30 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-01 00:00:00'),
 Timestamp('2019-02-02 00:00:00'),
 Timestamp('2019-02-03 00:00:00'),
 Timestamp('2019-02-04 00:00:00'),
 Timestamp('2019-02-05 00:00:00'),
 Timestamp('2019-02-06 00:00:00'),
 Timestamp('2019-02-07 00:00:00'),
 Timestamp('2019-02-08 00:00:00'),
 Timestamp('2019-02-09 00:00:00'),
 Timestamp('2019-02-10 00:00:00'),
 Timestamp('2019-02-11 00:00:00'),
 Timestamp('2019-02-12 00:00:00'),
 Timestamp('2019-02-13 00:00:00'),
 Timestamp('2019-02-14 00:00:00'),
 Timestamp('2019-02-15 00:00:00'),
 Timestamp('2019-02-16 00:00:00'),
 Timestamp('2019-02-17 00:00:00'),
 Timestamp('2019-02-18 00:00:00'),
 Timestamp('2019-02-19 00:00:00'),
 Timestamp('2019-02-20 00:00:00'),
 Timestamp('2019-02-21 00:00:00'),
 Timestamp('2019-02-22 00:00:00'),
 Timestamp('2019-02-23 00:00:00'),
 Timestamp('2019-02-24 00:00:00'),
 Timestamp('2019-02-25 00:00:00'),
 Timestamp('2019-02-26 00:00:00'),
 Timestamp('2019-02-27 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-01 00:00:00'),
 Timestamp('2019-03-02 00:00:00'),
 Timestamp('2019-03-03 00:00:00'),
 Timestamp('2019-03-04 00:00:00'),
 Timestamp('2019-03-05 00:00:00'),
 Timestamp('2019-03-06 00:00:00'),
 Timestamp('2019-03-07 00:00:00'),
 Timestamp('2019-03-08 00:00:00'),
 Timestamp('2019-03-09 00:00:00'),
 Timestamp('2019-03-10 00:00:00'),
 Timestamp('2019-03-11 00:00:00'),
 Timestamp('2019-03-12 00:00:00'),
 Timestamp('2019-03-13 00:00:00'),
 Timestamp('2019-03-14 00:00:00'),
 Timestamp('2019-03-15 00:00:00'),
 Timestamp('2019-03-16 00:00:00'),
 Timestamp('2019-03-17 00:00:00'),
 Timestamp('2019-03-18 00:00:00'),
 Timestamp('2019-03-19 00:00:00'),
 Timestamp('2019-03-20 00:00:00'),
 Timestamp('2019-03-21 00:00:00'),
 Timestamp('2019-03-22 00:00:00'),
 Timestamp('2019-03-23 00:00:00'),
 Timestamp('2019-03-24 00:00:00'),
 Timestamp('2019-03-25 00:00:00'),
 Timestamp('2019-03-26 00:00:00'),
 Timestamp('2019-03-27 00:00:00'),
 Timestamp('2019-03-28 00:00:00'),
 Timestamp('2019-03-29 00:00:00'),
 Timestamp('2019-03-30 00:00:00'),
 Timestamp('2019-03-31 00:00:00'),
 Timestamp('2019-04-01 00:00:00'),
 Timestamp('2019-04-02 00:00:00'),
 Timestamp('2019-04-03 00:00:00'),
 Timestamp('2019-04-04 00:00:00'),
 Timestamp('2019-04-05 00:00:00'),
 Timestamp('2019-04-06 00:00:00'),
 Timestamp('2019-04-07 00:00:00'),
 Timestamp('2019-04-08 00:00:00'),
 Timestamp('2019-04-09 00:00:00'),
 Timestamp('2019-04-10 00:00:00'),
 Timestamp('2019-04-11 00:00:00'),
 Timestamp('2019-04-12 00:00:00'),
 Timestamp('2019-04-13 00:00:00'),
 Timestamp('2019-04-14 00:00:00'),
 Timestamp('2019-04-15 00:00:00'),
 Timestamp('2019-04-16 00:00:00'),
 Timestamp('2019-04-17 00:00:00'),
 Timestamp('2019-04-18 00:00:00'),
 Timestamp('2019-04-19 00:00:00'),
 Timestamp('2019-04-20 00:00:00'),
 Timestamp('2019-04-21 00:00:00'),
 Timestamp('2019-04-22 00:00:00'),
 Timestamp('2019-04-23 00:00:00'),
 Timestamp('2019-04-24 00:00:00'),
 Timestamp('2019-04-25 00:00:00'),
 Timestamp('2019-04-26 00:00:00'),
 Timestamp('2019-04-27 00:00:00'),
 Timestamp('2019-04-28 00:00:00'),
 Timestamp('2019-04-29 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-05-02 00:00:00'),
 Timestamp('2019-05-03 00:00:00'),
 Timestamp('2019-05-04 00:00:00'),
 Timestamp('2019-05-05 00:00:00'),
 Timestamp('2019-05-06 00:00:00'),
 Timestamp('2019-05-07 00:00:00'),
 Timestamp('2019-05-08 00:00:00'),
 Timestamp('2019-05-09 00:00:00'),
 Timestamp('2019-05-10 00:00:00'),
 Timestamp('2019-05-11 00:00:00'),
 Timestamp('2019-05-12 00:00:00'),
 Timestamp('2019-05-13 00:00:00'),
 Timestamp('2019-05-14 00:00:00'),
 Timestamp('2019-05-15 00:00:00'),
 Timestamp('2019-05-16 00:00:00'),
 Timestamp('2019-05-17 00:00:00'),
 Timestamp('2019-05-18 00:00:00'),
 Timestamp('2019-05-19 00:00:00'),
 Timestamp('2019-05-20 00:00:00'),
 Timestamp('2019-05-21 00:00:00'),
 Timestamp('2019-05-22 00:00:00'),
 Timestamp('2019-05-23 00:00:00'),
 Timestamp('2019-05-24 00:00:00'),
 Timestamp('2019-05-25 00:00:00'),
 Timestamp('2019-05-26 00:00:00'),
 Timestamp('2019-05-27 00:00:00'),
 Timestamp('2019-05-28 00:00:00'),
 Timestamp('2019-05-29 00:00:00'),
 Timestamp('2019-05-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-01 00:00:00'),
 Timestamp('2019-06-02 00:00:00'),
 Timestamp('2019-06-03 00:00:00'),
 Timestamp('2019-06-04 00:00:00'),
 Timestamp('2019-06-05 00:00:00'),
 Timestamp('2019-06-06 00:00:00'),
 Timestamp('2019-06-07 00:00:00'),
 Timestamp('2019-06-08 00:00:00'),
 Timestamp('2019-06-09 00:00:00'),
 Timestamp('2019-06-10 00:00:00'),
 Timestamp('2019-06-11 00:00:00'),
 Timestamp('2019-06-12 00:00:00'),
 Timestamp('2019-06-13 00:00:00'),
 Timestamp('2019-06-14 00:00:00'),
 Timestamp('2019-06-15 00:00:00'),
 Timestamp('2019-06-16 00:00:00'),
 Timestamp('2019-06-17 00:00:00'),
 Timestamp('2019-06-18 00:00:00'),
 Timestamp('2019-06-19 00:00:00'),
 Timestamp('2019-06-20 00:00:00'),
 Timestamp('2019-06-21 00:00:00'),
 Timestamp('2019-06-22 00:00:00'),
 Timestamp('2019-06-23 00:00:00'),
 Timestamp('2019-06-24 00:00:00'),
 Timestamp('2019-06-25 00:00:00'),
 Timestamp('2019-06-26 00:00:00'),
 Timestamp('2019-06-27 00:00:00'),
 Timestamp('2019-06-28 00:00:00'),
 Timestamp('2019-06-29 00:00:00'),
 Timestamp('2019-06-30 00:00:00'),
 Timestamp('2019-07-01 00:00:00'),
 Timestamp('2019-07-02 00:00:00'),
 Timestamp('2019-07-03 00:00:00'),
 Timestamp('2019-07-04 00:00:00'),
 Timestamp('2019-07-05 00:00:00'),
 Timestamp('2019-07-06 00:00:00'),
 Timestamp('2019-07-07 00:00:00'),
 Timestamp('2019-07-13 00:00:00'),
 Timestamp('2019-07-14 00:00:00'),
 Timestamp('2019-07-15 00:00:00'),
 Timestamp('2019-07-16 00:00:00'),
 Timestamp('2019-07-17 00:00:00'),
 Timestamp('2019-07-18 00:00:00'),
 Timestamp('2019-07-19 00:00:00'),
 Timestamp('2019-07-20 00:00:00'),
 Timestamp('2019-07-21 00:00:00'),
 Timestamp('2019-07-22 00:00:00'),
 Timestamp('2019-07-23 00:00:00'),
 Timestamp('2019-07-24 00:00:00'),
 Timestamp('2019-07-25 00:00:00'),
 Timestamp('2019-07-26 00:00:00'),
 Timestamp('2019-07-27 00:00:00'),
 Timestamp('2019-07-28 00:00:00'),
 Timestamp('2019-07-29 00:00:00'),
 Timestamp('2019-07-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-01 00:00:00'),
 Timestamp('2019-08-02 00:00:00'),
 Timestamp('2019-08-03 00:00:00'),
 Timestamp('2019-08-04 00:00:00'),
 Timestamp('2019-08-05 00:00:00'),
 Timestamp('2019-08-06 00:00:00'),
 Timestamp('2019-08-07 00:00:00'),
 Timestamp('2019-08-08 00:00:00'),
 Timestamp('2019-08-09 00:00:00'),
 Timestamp('2019-08-10 00:00:00'),
 Timestamp('2019-08-11 00:00:00'),
 Timestamp('2019-08-12 00:00:00'),
 Timestamp('2019-08-13 00:00:00'),
 Timestamp('2019-08-14 00:00:00'),
 Timestamp('2019-08-15 00:00:00'),
 Timestamp('2019-08-16 00:00:00'),
 Timestamp('2019-08-17 00:00:00'),
 Timestamp('2019-08-18 00:00:00'),
 Timestamp('2019-08-19 00:00:00'),
 Timestamp('2019-08-20 00:00:00'),
 Timestamp('2019-08-21 00:00:00'),
 Timestamp('2019-08-22 00:00:00'),
 Timestamp('2019-08-23 00:00:00'),
 Timestamp('2019-08-24 00:00:00'),
 Timestamp('2019-08-25 00:00:00'),
 Timestamp('2019-08-26 00:00:00'),
 Timestamp('2019-08-27 00:00:00'),
 Timestamp('2019-08-28 00:00:00'),
 Timestamp('2019-08-29 00:00:00'),
 Timestamp('2019-08-30 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2019-09-01 00:00:00'),
 Timestamp('2019-09-02 00:00:00'),
 Timestamp('2019-09-03 00:00:00'),
 Timestamp('2019-09-04 00:00:00'),
 Timestamp('2019-09-05 00:00:00'),
 Timestamp('2019-09-06 00:00:00'),
 Timestamp('2019-09-07 00:00:00'),
 Timestamp('2019-09-08 00:00:00'),
 Timestamp('2019-09-09 00:00:00'),
 Timestamp('2019-09-10 00:00:00'),
 Timestamp('2019-09-11 00:00:00'),
 Timestamp('2019-09-12 00:00:00'),
 Timestamp('2019-09-13 00:00:00'),
 Timestamp('2019-09-14 00:00:00'),
 Timestamp('2019-09-15 00:00:00'),
 Timestamp('2019-09-16 00:00:00'),
 Timestamp('2019-09-17 00:00:00'),
 Timestamp('2019-09-18 00:00:00'),
 Timestamp('2019-09-19 00:00:00'),
 Timestamp('2019-09-20 00:00:00'),
 Timestamp('2019-09-21 00:00:00'),
 Timestamp('2019-09-22 00:00:00'),
 Timestamp('2019-09-23 00:00:00'),
 Timestamp('2019-09-24 00:00:00'),
 Timestamp('2019-09-25 00:00:00'),
 Timestamp('2019-09-26 00:00:00'),
 Timestamp('2019-09-27 00:00:00'),
 Timestamp('2019-09-28 00:00:00'),
 Timestamp('2019-09-29 00:00:00'),
 Timestamp('2019-09-30 00:00:00'),
 Timestamp('2019-10-01 00:00:00'),
 Timestamp('2019-10-02 00:00:00'),
 Timestamp('2019-10-03 00:00:00'),
 Timestamp('2019-10-04 00:00:00'),
 Timestamp('2019-10-05 00:00:00'),
 Timestamp('2019-10-06 00:00:00'),
 Timestamp('2019-10-07 00:00:00'),
 Timestamp('2019-10-08 00:00:00'),
 Timestamp('2019-10-09 00:00:00'),
 Timestamp('2019-10-10 00:00:00'),
 Timestamp('2019-10-11 00:00:00'),
 Timestamp('2019-10-12 00:00:00'),
 Timestamp('2019-10-13 00:00:00'),
 Timestamp('2019-10-14 00:00:00'),
 Timestamp('2019-10-15 00:00:00'),
 Timestamp('2019-10-16 00:00:00'),
 Timestamp('2019-10-17 00:00:00'),
 Timestamp('2019-10-18 00:00:00'),
 Timestamp('2019-10-19 00:00:00'),
 Timestamp('2019-10-20 00:00:00'),
 Timestamp('2019-10-21 00:00:00'),
 Timestamp('2019-10-22 00:00:00'),
 Timestamp('2019-10-23 00:00:00'),
 Timestamp('2019-10-24 00:00:00'),
 Timestamp('2019-10-25 00:00:00'),
 Timestamp('2019-10-26 00:00:00'),
 Timestamp('2019-10-27 00:00:00'),
 Timestamp('2019-10-28 00:00:00'),
 Timestamp('2019-10-29 00:00:00'),
 Timestamp('2019-10-30 00:00:00'),
 Timestamp('2019-10-31 00:00:00'),
 Timestamp('2019-11-01 00:00:00'),
 Timestamp('2019-11-02 00:00:00'),
 Timestamp('2019-11-03 00:00:00'),
 Timestamp('2019-11-04 00:00:00'),
 Timestamp('2019-11-05 00:00:00'),
 Timestamp('2019-11-06 00:00:00'),
 Timestamp('2019-11-07 00:00:00'),
 Timestamp('2019-11-08 00:00:00'),
 Timestamp('2019-11-09 00:00:00'),
 Timestamp('2019-11-10 00:00:00'),
 Timestamp('2019-11-11 00:00:00'),
 Timestamp('2019-11-12 00:00:00'),
 Timestamp('2019-11-13 00:00:00'),
 Timestamp('2019-11-14 00:00:00'),
 Timestamp('2019-11-15 00:00:00'),
 Timestamp('2019-11-16 00:00:00'),
 Timestamp('2019-11-17 00:00:00'),
 Timestamp('2019-11-18 00:00:00'),
 Timestamp('2019-11-19 00:00:00'),
 Timestamp('2019-11-20 00:00:00'),
 Timestamp('2019-11-21 00:00:00'),
 Timestamp('2019-11-22 00:00:00'),
 Timestamp('2019-11-23 00:00:00'),
 Timestamp('2019-11-24 00:00:00'),
 Timestamp('2019-11-25 00:00:00'),
 Timestamp('2019-11-26 00:00:00'),
 Timestamp('2019-11-27 00:00:00'),
 Timestamp('2019-11-28 00:00:00'),
 Timestamp('2019-11-29 00:00:00'),
 Timestamp('2019-11-30 00:00:00'),
 Timestamp('2019-12-01 00:00:00'),
 Timestamp('2019-12-02 00:00:00'),
 Timestamp('2019-12-03 00:00:00'),
 Timestamp('2019-12-04 00:00:00'),
 Timestamp('2019-12-05 00:00:00'),
 Timestamp('2019-12-06 00:00:00'),
 Timestamp('2019-12-07 00:00:00'),
 Timestamp('2019-12-08 00:00:00'),
 Timestamp('2019-12-09 00:00:00'),
 Timestamp('2019-12-10 00:00:00'),
 Timestamp('2019-12-11 00:00:00'),
 Timestamp('2019-12-12 00:00:00'),
 Timestamp('2019-12-13 00:00:00'),
 Timestamp('2019-12-14 00:00:00'),
 Timestamp('2019-12-15 00:00:00'),
 Timestamp('2019-12-16 00:00:00'),
 Timestamp('2019-12-17 00:00:00'),
 Timestamp('2019-12-18 00:00:00'),
 Timestamp('2019-12-19 00:00:00'),
 Timestamp('2019-12-20 00:00:00'),
 Timestamp('2019-12-21 00:00:00'),
 Timestamp('2019-12-22 00:00:00'),
 Timestamp('2019-12-23 00:00:00'),
 Timestamp('2019-12-24 00:00:00'),
 Timestamp('2019-12-25 00:00:00'),
 Timestamp('2019-12-26 00:00:00'),
 Timestamp('2019-12-27 00:00:00'),
 Timestamp('2019-12-28 00:00:00'),
 Timestamp('2019-12-29 00:00:00'),
 Timestamp('2019-12-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-01-02 00:00:00'),
 Timestamp('2020-01-03 00:00:00'),
 Timestamp('2020-01-04 00:00:00'),
 Timestamp('2020-01-05 00:00:00'),
 Timestamp('2020-01-06 00:00:00'),
 Timestamp('2020-01-07 00:00:00'),
 Timestamp('2020-01-08 00:00:00'),
 Timestamp('2020-01-09 00:00:00'),
 Timestamp('2020-01-10 00:00:00'),
 Timestamp('2020-01-11 00:00:00'),
 Timestamp('2020-01-12 00:00:00'),
 Timestamp('2020-01-13 00:00:00'),
 Timestamp('2020-01-14 00:00:00'),
 Timestamp('2020-01-15 00:00:00'),
 Timestamp('2020-01-16 00:00:00'),
 Timestamp('2020-01-17 00:00:00'),
 Timestamp('2020-01-18 00:00:00'),
 Timestamp('2020-01-19 00:00:00'),
 Timestamp('2020-01-20 00:00:00'),
 Timestamp('2020-01-21 00:00:00'),
 Timestamp('2020-01-22 00:00:00'),
 Timestamp('2020-01-23 00:00:00'),
 Timestamp('2020-01-24 00:00:00'),
 Timestamp('2020-01-25 00:00:00'),
 Timestamp('2020-01-26 00:00:00'),
 Timestamp('2020-01-27 00:00:00'),
 Timestamp('2020-01-28 00:00:00'),
 Timestamp('2020-01-29 00:00:00'),
 Timestamp('2020-01-30 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2020-02-01 00:00:00'),
 Timestamp('2020-02-02 00:00:00'),
 Timestamp('2020-02-03 00:00:00'),
 Timestamp('2020-02-04 00:00:00'),
 Timestamp('2020-02-05 00:00:00'),
 Timestamp('2020-02-06 00:00:00'),
 Timestamp('2020-02-07 00:00:00'),
 Timestamp('2020-02-08 00:00:00'),
 Timestamp('2020-02-09 00:00:00'),
 Timestamp('2020-02-10 00:00:00'),
 Timestamp('2020-02-11 00:00:00'),
 Timestamp('2020-02-12 00:00:00'),
 Timestamp('2020-02-13 00:00:00'),
 Timestamp('2020-02-14 00:00:00'),
 Timestamp('2020-02-15 00:00:00'),
 Timestamp('2020-02-16 00:00:00'),
 Timestamp('2020-02-17 00:00:00'),
 Timestamp('2020-02-18 00:00:00'),
 Timestamp('2020-02-19 00:00:00'),
 Timestamp('2020-02-20 00:00:00'),
 Timestamp('2020-02-21 00:00:00'),
 Timestamp('2020-02-22 00:00:00'),
 Timestamp('2020-02-23 00:00:00'),
 Timestamp('2020-02-24 00:00:00'),
 Timestamp('2020-02-25 00:00:00'),
 Timestamp('2020-02-26 00:00:00'),
 Timestamp('2020-02-27 00:00:00'),
 Timestamp('2020-02-28 00:00:00'),
 Timestamp('2020-02-29 00:00:00'),
 Timestamp('2020-03-01 00:00:00'),
 Timestamp('2020-03-02 00:00:00'),
 Timestamp('2020-03-03 00:00:00'),
 Timestamp('2020-03-04 00:00:00'),
 Timestamp('2020-03-05 00:00:00'),
 Timestamp('2020-03-06 00:00:00'),
 Timestamp('2020-03-07 00:00:00'),
 Timestamp('2020-03-08 00:00:00'),
 Timestamp('2020-03-09 00:00:00'),
 Timestamp('2020-03-10 00:00:00'),
 Timestamp('2020-03-11 00:00:00'),
 Timestamp('2020-03-12 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-14 00:00:00'),
 Timestamp('2020-03-15 00:00:00'),
 Timestamp('2020-03-16 00:00:00'),
 Timestamp('2020-03-17 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-21 00:00:00'),
 Timestamp('2020-03-22 00:00:00'),
 Timestamp('2020-03-23 00:00:00'),
 Timestamp('2020-03-24 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-03-26 00:00:00'),
 Timestamp('2020-03-27 00:00:00'),
 Timestamp('2020-03-28 00:00:00'),
 Timestamp('2020-03-29 00:00:00'),
 Timestamp('2020-03-30 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-04-02 00:00:00'),
 Timestamp('2020-04-03 00:00:00'),
 Timestamp('2020-04-04 00:00:00'),
 Timestamp('2020-04-05 00:00:00'),
 Timestamp('2020-04-06 00:00:00'),
 Timestamp('2020-04-07 00:00:00'),
 Timestamp('2020-04-08 00:00:00'),
 Timestamp('2020-04-09 00:00:00'),
 Timestamp('2020-04-10 00:00:00'),
 Timestamp('2020-04-11 00:00:00'),
 Timestamp('2020-04-12 00:00:00'),
 Timestamp('2020-04-13 00:00:00'),
 Timestamp('2020-04-14 00:00:00'),
 Timestamp('2020-04-15 00:00:00'),
 Timestamp('2020-04-16 00:00:00'),
 Timestamp('2020-04-17 00:00:00'),
 Timestamp('2020-04-18 00:00:00'),
 Timestamp('2020-04-19 00:00:00'),
 Timestamp('2020-04-20 00:00:00'),
 Timestamp('2020-04-21 00:00:00'),
 Timestamp('2020-04-22 00:00:00'),
 Timestamp('2020-04-23 00:00:00'),
 Timestamp('2020-04-24 00:00:00'),
 Timestamp('2020-04-25 00:00:00'),
 Timestamp('2020-04-26 00:00:00'),
 Timestamp('2020-04-27 00:00:00'),
 Timestamp('2020-04-28 00:00:00'),
 Timestamp('2020-04-29 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-01 00:00:00'),
 Timestamp('2020-05-02 00:00:00'),
 Timestamp('2020-05-03 00:00:00'),
 Timestamp('2020-05-04 00:00:00'),
 Timestamp('2020-05-05 00:00:00'),
 Timestamp('2020-05-06 00:00:00'),
 Timestamp('2020-05-07 00:00:00'),
 Timestamp('2020-05-08 00:00:00'),
 Timestamp('2020-05-09 00:00:00'),
 Timestamp('2020-05-10 00:00:00'),
 Timestamp('2020-05-11 00:00:00'),
 Timestamp('2020-05-12 00:00:00'),
 Timestamp('2020-05-13 00:00:00'),
 Timestamp('2020-05-14 00:00:00'),
 Timestamp('2020-05-15 00:00:00'),
 Timestamp('2020-05-16 00:00:00'),
 Timestamp('2020-05-17 00:00:00'),
 Timestamp('2020-05-18 00:00:00'),
 Timestamp('2020-05-19 00:00:00'),
 Timestamp('2020-05-20 00:00:00'),
 Timestamp('2020-05-21 00:00:00'),
 Timestamp('2020-05-22 00:00:00'),
 Timestamp('2020-05-23 00:00:00')}

In [36]:
df=df2.groupby(pd.Grouper(key='Dates', freq='D'))

d:\pythonenv\base3.7\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
from sktime import forecasting as FC
from sktime.utils.plotting import plot_series

In [ ]:
from sktime.datasets import load_airline
from sktime.forecasting.arima import ARIMA, AutoARIMA
from sktime.forecasting.base import ForecastingHorizon
from sktime.forecasting.compose import (
    EnsembleForecaster,
   # MultiplexForecaster,
    ReducedForecaster,
    TransformedTargetForecaster)
from sktime.forecasting.exp_smoothing import ExponentialSmoothing
#from sktime.forecasting.model_evaluation import evaluate
from sktime.forecasting.model_selection import ( ExpandingWindowSplitter,  ForecastingGridSearchCV,  SlidingWindowSplitter,
    temporal_train_test_split,
)
from sktime.forecasting.naive import NaiveForecaster
from sktime.forecasting.theta import ThetaForecaster
from sktime.forecasting.trend import PolynomialTrendForecaster
from sktime.performance_metrics.forecasting import sMAPE, smape_loss
from sktime.transformations.series.detrend import Deseasonalizer, Detrender
from sktime.utils.plotting import plot_series

#simplefilter("ignore", FutureWarning)
%matplotlib inline

In [2]:
path="../_dataset/IndiaPowerConsumtion/dataset_tk.csv"
raw = pd.read_csv(path)
# raw=raw.rename(columns = {"Unnamed: 0":'Datetime'})
# raw['Date'] = pd.to_datetime(raw['Datetime'], format='%d/%m/%Y %H:%M:%S').dt.date
# raw['Datetime'] = pd.to_datetime(raw['Datetime'], format='%d/%m/%Y %H:%M:%S')
raw.head()

,Date,Punjab,Haryana,Rajasthan,Delhi,UP,Uttarakhand,HP,J&K,Chandigarh,...,Odisha,West Bengal,Sikkim,Arunachal Pradesh,Assam,Manipur,Meghalaya,Mizoram,Nagaland,Tripura
0,02/01/2019,119.9,130.3,234.1,85.8,313.9,40.7,30.0,52.5,5.0,...,70.2,108.2,2.0,2.1,21.7,2.7,6.1,1.9,2.2,3.4
1,03/01/2019,121.9,133.5,240.2,85.5,311.8,39.3,30.1,54.1,4.9,...,67.9,110.2,1.9,2.2,23.4,2.4,6.5,1.8,2.2,3.6
2,04/01/2019,118.8,128.2,239.8,83.5,320.7,38.1,30.1,53.2,4.8,...,66.3,106.8,1.7,2.2,21.7,2.4,6.3,1.7,2.2,3.5
3,05/01/2019,121.0,127.5,239.1,79.2,299.0,39.2,30.2,51.5,4.3,...,65.8,107.0,2.0,2.2,22.5,2.7,5.7,1.8,2.3,3.5
4,06/01/2019,121.4,132.6,240.4,76.6,286.8,39.2,31.0,53.2,4.3,...,62.9,106.4,2.0,2.2,21.7,2.7,6.2,1.9,2.3,3.3

In [ ]:
mkdir temp

In [3]:
df1 = raw[["Date","UP"]]
df1.to_csv('temp/Power_tk.csv', index = False)

In [4]:
y=pd.read_csv('temp/Power_tk.csv',index_col=0, squeeze=True, dtype={1: np.float})
y.index = pd.PeriodIndex(y.index, freq="D", name="Period")
y.name = "UP Power Consumtion"
y.head()

Period
2019-02-01    313.9
2019-03-01    311.8
2019-04-01    320.7
2019-05-01    299.0
2019-06-01    286.8
Freq: D, Name: UP Power Consumtion, dtype: float64

In [5]:
# y = load_airline()
# plot_series(y)

In [6]:
len(y.index)

503

In [7]:
y.index.value_counts()

2019-10-07    2
2019-11-07    2
2019-09-07    2
2019-08-07    2
2019-12-07    2
             ..
2019-06-16    1
2019-06-15    1
2019-06-14    1
2019-06-13    1
2020-05-23    1
Freq: D, Name: Period, Length: 498, dtype: int64

In [ ]:
plot_series(y);
plt.xticks(rotation=25)
plt.show()

In [ ]:
from sktime.datasets import load_airline
from sktime.forecasting.base import ForecastingHorizon
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.forecasting.theta import ThetaForecaster
from sktime.performance_metrics.forecasting import smape_loss

In [ ]:
y_train, y_test = temporal_train_test_split(y, test_size=200)
plot_series(y_train, y_test, labels=["y_train", "y_test"])
plt.xticks(rotation=25)
print(y_train.shape[0], y_test.shape[0])

In [ ]:
fh = ForecastingHorizon(y_test.index, is_relative=False)
forecaster = ThetaForecaster(sp=12)  # monthly seasonal periodicity
forecaster.fit(y_train)
y_pred = forecaster.predict(fh)
plot_series(y_train, y_test,y_pred ,labels=["y_train", "y_test","y_pred"])
smape_loss(y_test, y_pred)

In [ ]:
forecaster = NaiveForecaster(strategy="last", sp=12)
forecaster.fit(y_train)
y_pred = forecaster.predict(fh)
plot_series(y_train, y_test, y_pred, labels=["y_train", "y_test", "y_pred"])
smape_loss(y_pred, y_test)

In [ ]:
fh = ForecastingHorizon(y.index, is_relative=False)