In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('c:/dataset/online_ads.csv')

In [3]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [5]:
df=pd.get_dummies(df)

In [23]:
df.head()

   Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0   19            19000          0              0            1
1   35            20000          0              0            1
2   26            43000          0              1            0
3   27            57000          0              1            0
4   19            76000          0              0            1

In [24]:
X=df.loc[:,('Age','EstimatedSalary','Gender_Female','Gender_Male')].values

In [25]:
y=df.loc[:,'Purchased'].values

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc=StandardScaler()

In [28]:
X_new=sc.fit_transform(X.astype(float))

In [29]:
from sklearn.model_selection import train_test_split

In [78]:
X_train,X_test,y_train,y_test=train_test_split(X_new,y,random_state=13)

In [79]:
from sklearn.linear_model import LogisticRegression

In [80]:
log=LogisticRegression()

In [81]:
log.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [82]:
from sklearn.metrics import accuracy_score

In [83]:
test_pred=log.predict(X_test)

In [84]:
accuracy_score(y_test,test_pred)

0.84

In [85]:
from sklearn.neighbors import KNeighborsClassifier

In [86]:
knn=KNeighborsClassifier(n_neighbors=7)

In [87]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=7, p=2,
           weights='uniform')

In [88]:
pred_test=knn.predict(X_test)

In [89]:
accuracy_score(y_test,pred_test)

0.9

In [90]:
from sklearn.metrics import confusion_matrix

In [91]:
confusion_matrix(y_test,pred_test)

array([[64,  8],
       [ 2, 26]], dtype=int64)

In [92]:
cm=confusion_matrix(y_test,pred_test)

In [93]:
tn=cm[0][0]
fp=cm[0][1]
fn=cm[1][0]
tp=cm[1][1]

In [94]:
acc_class0=tn/(tn+fp)#specificity

In [95]:
acc_class0

0.8888888888888888

In [96]:
acc_class1=tp/(fn+tp)#Recall
recall=tp/(fn+tp)

In [97]:
acc_class1

0.9285714285714286

In [98]:
acc=(tn+tp)/(tn+fp+fn+tp)

In [99]:
acc

0.9

In [100]:
prec=tp/(fp+tp)

In [101]:
prec

0.7647058823529411

In [102]:
from sklearn.metrics import recall_score

In [103]:
recall_score(y_test,pred_test)

0.9285714285714286

In [104]:
from sklearn.metrics import precision_score

In [105]:
precision_score(y_test,pred_test)

0.7647058823529411

In [106]:
import numpy as np

In [107]:
np.bincount(y_train)

array([185, 115], dtype=int64)

In [72]:
y_train.size

300

In [74]:
f1=2 * (prec * recall) / (prec + recall)

In [75]:
f1

0.8787878787878788

In [76]:
from sklearn.metrics import f1_score

In [77]:
f1_score(y_test,pred_test)

0.8787878787878788