In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('c:/dataset/50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df_f=df.iloc[:,:-1]

In [5]:
df_f.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [6]:
df_f=pd.get_dummies(df_f)

In [7]:
df_f.shape

(50, 6)

In [8]:
X=df_f.values

In [9]:
y=df.iloc[:,-1].values

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
reg=LinearRegression()

In [14]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
reg.coef_

array([ 7.97861181e-01, -5.81977264e-02,  2.11484844e-02, -3.19125276e+02,
       -9.16399631e+02,  1.23552491e+03])

In [16]:
reg.intercept_

55461.00437172589

In [17]:
pred_train=reg.predict(X_train)

In [18]:
pred_test=reg.predict(X_test)

In [19]:
from sklearn.metrics import r2_score

In [20]:
r2_score(y_train,pred_train)

0.946084596688622

In [21]:
r2_score(y_test,pred_test)

0.9575620972962715